# ignore bin files
/bin

# data files to ignore
/data/geopandas
/data/metasub/metasub_global_results.csv
/data/metasub/After_process_megares_amr_class_rpkmg.csv
/data/metasub/data/metasub/MetaSUB City Metadata - Sheet1 new.csv

# ignore lab_notes
/lab_notes/research_log.aux
/lab_notes/research_log.log
/lab_notes/research_log.fdb_latexmk
/lab_notes/research_log.tex
/lab_notes/research_log.toc
/lab_notes/research_log.out
/lab_notes/research_log.fls



/papers
/.vscode


# ignore report files
/report/abstract
/report/discussions
/report/images
/report/introduction
/report/methods
/report/references
/report/results
/report/main.aux
/report/main.log
/report/main.out
/report/main.tex
/report/main.bbl
/report/main.blg
/report/figures
/report/supplementary
/report/workflows

# ignore metasub results
/results/metasub/processed_metasub.csv
/results/metasub/taxonomic_info.csv

#ignore scripts
/scripts/metasub