/data
/papers
/scripts/XBNet
/bin

/lab_notes/introduction
/lab_notes/methods
/lab_notes/results
/lab_notes/main_mgps_notes_28032025.tex

/lab_notes/daily_notes/research_log.aux
/lab_notes/daily_notes/research_log.log
/lab_notes/daily_notes/research_log.fdb_latexmk
/lab_notes/daily_notes/research_log.tex
/lab_notes/daily_notes/research_log.toc
/lab_notes/daily_notes/research_log.out
/lab_notes/daily_notes/research_log.fls

/report/abstract
/report/discussions
/report/images
/report/introduction
/report/methods
/report/references
/report/results
/report/main.aux
/report/main.log
/report/main.out
/report/main.tex
/report/main.bbl
/report/main.blg
/report/figures
/report/supplementary
/report/workflows

/results/metasub/processed_metasub.csv
/results/metasub/tax_metasub_data.csv