# ignore bin files
/bin

# data files to ignore
/data/geopandas
/data/metasub/metasub_global_results.csv
/data/metasub/After_process_megares_amr_class_rpkmg.csv
/data/metasub/data/metasub/MetaSUB City Metadata - Sheet1 new.csv

# ignore lab_notes
/lab_notes/research_log.aux
/lab_notes/research_log.log
/lab_notes/research_log.fdb_latexmk
/lab_notes/research_log.tex
/lab_notes/research_log.toc
/lab_notes/research_log.out
/lab_notes/research_log.fls



/papers
/.vscode


# ignore report files
/report/abstract
/report/discussions
/report/images
/report/introduction
/report/methods
/report/references
/report/results
/report/main.aux
/report/main.log
/report/main.out
/report/main.tex
/report/main.bbl
/report/main.blg
/report/supplementary
/report/workflows/combined_neural_networks.aux
/report/workflows/combined_neural_networks.log
/report/workflows/combined_neural_networks.pdf
/report/workflows/combined_neural_networks.tex
/report/workflows/data_splitting.aux
/report/workflows/data_splitting.log
/report/workflows/data_splitting.pdf
/report/workflows/data_splitting.tex
/report/workflows/ensemble_learner.aux
/report/workflows/ensemble_learner.log
/report/workflows/ensemble_learner.pdf
/report/workflows/ensemble_learner.tex
/report/workflows/separate_neural_networks.aux
/report/workflows/separate_neural_networks.log
/report/workflows/separate_neural_networks.pdf
/report/workflows/separate_neural_networks.tex

# ignore metasub results
/results/metasub/taxonomic_info.csv

#ignore scripts
/scripts/metasub
/scripts/grownet/nn_grownet_model.py
/scripts/grownet/grownet_classification.py

# Ignore Python cache and compiled files
scripts/ensemble/xgboost_ensemble/__pycache__/
scripts/ensemble/simple_nn/__pycache__/
scripts/ensemble/tab_pfn/__pycache__/
scripts/ensemble/lightgbm_ensemble/__pycache__/
scripts/ensemble/grownet/__pycache__/
scripts/ensemble/catboost_ensemble/__pycache__/

# Ignore CatBoost info files
scripts/ensemble/catboost_info/

# Ignore SLURM output/error files
scripts/slurm/*.error
scripts/slurm/*.output

# Ignore report workflow files
report/workflows/separate_neural_networks.aux
report/workflows/separate_neural_networks.log
report/workflows/separate_neural_networks.pdf
report/workflows/separate_neural_networks.tex
report/workflows/data_splitting.tex
report/workflows/ensemble_learner.aux
report/workflows/ensemble_learner.log
report/workflows/ensemble_learner.pdf
report/workflows/ensemble_learner.tex
report/workflows/data_splitting.aux
report/workflows/data_splitting.log
report/workflows/combined_neural_networks.aux
report/workflows/combined_neural_networks.log
report/workflows/combined_neural_networks.pdf
report/workflows/combined_neural_networks.tex

# Ignore VSCode settings
.vscode/settings.json
